table.main {
	font-family: Trebuchet MS;
	font-size:13px;
}
a {
	font-family: "Trebuchet MS", Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a:hover {
	color:#990000;
}


.mezo {
	border: 1px solid #CCCCCC;
}
